*.zip
/all_video_dan_toc
/DETECT/label_studio_import_dataset
/DETECT/misc
/DETECT/save_video_frame_folder
/bana_ede_quan
/DETECT/yolo_dataset
/DETECT/yolo_dataset_2
/DETECT/yolo_dataset_attempt_1
/DETECT/yolo_dataset_attempt_2
/env
/OCR/crop_images
/OCR/save_video_frame_folder
/OCR/save_video_frame_folder_all_crops
/OCR/test_crops
/OCR/training_vietocr_final
OCR/VIETOCR_LOG_FILE_CHATGPT_REFINE.txt
OCR/VIETOCR_LOG_FILE_CHATGPT.txt
OCR/VIETOCR_LOG_FILE.txt
OCR/weights/best_old.pt
OCR/weights/vgg_transformer.pth
OCR/VIETOCR_DATASET.txt
OCR/openai_config.json
